<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furious True-D Logo Generator</title>
</head>
<body style="text-align: center">
    <h1>Furious True-D Custom Logo Generator</h1><br>
    <a href="http://furiousfpv.com/product_info.php?cPath=29&products_id=43">
        <img src="http://furiousfpv.com/images/layout-fpv1-a.png" alt="Furious True-D" width="300">
    </a><br>
    Furious True-D REV 2.0 Firmware: <a href="https://furiousfpv.com/download.php">download</a><br>
    <br>
    Furious True-D LCD supports only 128x64 black and white color.<br>
    Currently supported images are RGB (24 bits) with 128x64 size.<br>
    Any color that is not RGB (255,255,255) in the image will be output to the LCD.<br>
    <br>
    If you check the preview image and think that it differs from the original image,
    be careful when using the firmware.<br>
    The service provider is not responsible for any problems caused by the firmware created here.<br>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span style="color: red">{{ message }}</span><br>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Upload image file (PNG recommend)</h1>
    <form action="/uploads" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <br>
    If you find a service suggestion or problem,
    please let the <a href="mailto:fpv4quad@gmail.com">administrator</a> know by email.
</body>
</html>